{% extends "network/layout.html" %}

{%block body%}
      <!-- <div class="card bg-dark text-light mb-3 p-3 post">
            <h6 class="username"></h6>
            <p class="content mt-2"></p>
            <small class="timestamp text-muted"></small>

            <div class="mt-2">
                <button style="display:none;" class="btn btn-sm btn-outline-light like-btn"></button>
                <span class="likes-count ms-2"></span>

                <button class="btn btn-sm btn-warning edit-btn ms-2" style="display:none;">
                    Edit
                </button>
            </div>
        </div> -->
{%endblock}